<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Renovación TOYOTA</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- header 
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/logo.svg" alt="Homepage">
            </a>
        </div>

        <nav class="row header-nav-wrap wide">
            <ul class="header-main-nav">
              <li class="current"><a class="smoothscroll" href="#home" title="intro">Inicio</a></li>
              <li><a class="smoothscroll" href="#about" title="about">Beneficios</a></li>
              <li><a class="smoothscroll" href="#features" title="features">Saber más</a></li>
              <li><a class="smoothscroll" href="#login" title="login">Iniciar Sesión</a></li>
            </ul>

            <ul class="header-social">
              <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>
    
    </header> <!-- end header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section">

        <div class="home-image-part"></div>

        <div class="home-content">

            <div class="row home-content__main wide">

                <h1>
                Renueva tu auto con TOYOTA.
                </h1>
                <h3> Disfruta los mejores años de tu auto. </h3>
                <div class="home-content__button">
                    <a class="btn-video" href="https://www.youtube.com/embed/E15PE7iGT0U" data-lity>
                        <span class="video-icon"></span>
                    </a>
                    <a href="#download" class="smoothscroll btn btn--primary btn--large">
                        Empieza Ya
                    </a>
                </div>

            </div> <!-- end home-content__main -->

            <a href="#about" class="home-scroll smoothscroll">
                <span class="home-scroll__text">Scroll Down</span>
                <span class="home-scroll__icon"></span>
            </a>

        </div> <!-- end home-content -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="row section-header narrower align-center" data-aos="fade-up">
            <div class="col-full">
              <h1 class="display-1"> Disfruta los mejores años de tu auto al renovarlo</h1>
              <p class="lead"> Tendrás la posibilidad de renovar tu auto cada 2 o 3 años. </p>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full slick-slider about-desc__slider">

                <div class="about-desc__slide">
                  <h3 class="item-title">Cuotas Bajas</h3>
                  <p>
                    Hasta un 45% más bajo que un crédico vehicular convencional.
                    </p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                  <h3 class="item-title">Ahorro</h3>
                  <p> Reduce gastos de mantenimiento</p>
                </div>  <!-- end about-desc__slide -->

                <div class="about-desc__slide">
                  <h3 class="item-title">Diversidad</h3>
                  <p> Financiamos autos nuevos </p>
                </div>  <!-- end about-desc__slide -->

                

          </div> <!-- end about-desc__slider -->
        </div> <!-- end about-desc -->

        <div class="row about-bottom-image" data-aos="fade-up">
            <img src="images/app-screen-1400.png" 
                 srcset="images/app-screen-600.png 600w, 
                         images/app-screen-1400.png 1400w, 
                         images/app-screen-2800.png 2800w" 
                 sizes="(max-width: 2800px) 100vw, 2800px" 
                 alt="App Screenshots"> 
         </div>

    </section> <!-- end s-about -->


    <!-- process
    ================================================== -->
    <section id="process" class="s-process">

        <div class="row">
            <div class="col-full text-center" data-aos="fade-up">
              <h2 class="display-2">¡La forma más fácil de renovar tu auto!</h2>
            </div>
        </div>

        <div class="row process block-1-4 block-m-1-2 block-tab-full">
            <div class="col-block item-process" data-aos="fade-up">
                <div class="item-process__text">
                  <h3>&nbsp;</h3>
                  <p> Ten la posibilidad de renovar tu auto cada dos o tres años. </p>
                </div>
            </div>
            <div class="col-block item-process" data-aos="fade-up">
                <div class="item-process__text">
                  <h3>&nbsp;</h3>
                  <p> Accede a cuotas 45% más baja que un Crédito Vehicular Convencional al mismo plazo e importe. </p>
                </div>
            </div>
            <div class="col-block item-process" data-aos="fade-up">
                <div class="item-process__text">
                  <h3>&nbsp;</h3>
                  <p>Al solicitar la renovación ahorra en gastos de mantenimiento y reparaciones por la antigüedad del vehículo. </p>
                </div>
            </div>
            <div class="col-block item-process" data-aos="fade-up">
                <div class="item-process__text">
                  <h3>&nbsp;</h3>
                  <p> Paga el Seguro Vehicular dentro de la cuota del crédito sin mayores trámites ni renovaciones anuales. </p>
                </div>
            </div>
        </div> <!-- end process -->

        <div class="row process-bottom-image" data-aos="fade-up">
            <img src="images/screens-1000.png" 
                 srcset="images/screens-600.png 600w, 
                         images/screens-1000.png 1000w, 
                         images/screens-2000.png 2000w" 
                 sizes="(max-width: 2000px) 100vw, 2000px" 
                 alt="App Screenshots"> 
         </div>
        
    </section> <!-- end s-process -->


    <!-- features
    ================================================== -->
    <section id="features" class="s-features target-section">

        <div class="row section-header narrower align-center has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
              <h1 class="display-1"> Todo lo que necesitas saber</h1>
              <p class="lead"> Aquí te brindaremos la información necesaria sobre este proceso:</p>
            </div>
        </div> <!-- end section-header -->

        <div class="row bit-narrow features block-1-2 block-mob-full">

            <div class="col-block item-feature" data-aos="fade-up">
                <div class="item-feature__icon">
                    <i class="icon-upload"></i>
                </div>
                <div class="item-feature__text">
                  <h3 class="item-title">Puedes solicitar la renovación en principales concesionarios.</h3>                  
                </div>
            </div>

            <div class="col-block item-feature" data-aos="fade-up">
                <div class="item-feature__icon">
                    <i class="icon-video-camera"></i>
                </div>
                <div class="item-feature__text">
                  <h3 class="item-title">La tarjeta de propiedad sale a tu nombre desde el primer día.</h3>
                </div>
            </div>

            <div class="col-block item-feature" data-aos="fade-up">
                <div class="item-feature__icon">
                    <i class="icon-shield"></i>
                </div>  
                <div class="item-feature__text">
                  <h3 class="item-title">Solicita tu estado de cuenta por correo electrónico, sin costo alguno, y, así, podrás conocer el estado de tu crédito.</h3>
</div>
            </div>

            <div class="col-block item-feature" data-aos="fade-up">
                <div class="item-feature__icon">
                    <i class="icon-lego-block"></i>
                </div>
                <div class="item-feature__text">
                  <h3 class="item-title">Es necesario que tengas todos los mantenimientos correspondientes.</h3>
</div>
            </div>

            <div class="col-block item-feature" data-aos="fade-up">
                <div class="item-feature__icon">
                    <i class="icon-chat"></i>
                </div>
                <div class="item-feature__text">
                  <h3 class="item-title">No contar con multas en los útlimos 12 meses.</h3>
                </div>
            </div>
    
            <div class="col-block item-feature" data-aos="fade-up">
                <div class="item-feature__icon">
                    <i class="icon-wallet"></i>
                </div>
                <div class="item-feature__text">
                  <h3 class="item-title">Puedes iniciar el tramité al iniciar sesión.</h3>
                </div>
            </div>

        </div> <!-- end features -->        <!-- end testimonials-wrap -->

    </section> <!-- end s-features -->


    <!-- pricing
    ================================================== -->    <!-- end s-pricing -->


    <!-- download
    ================================================== -->
    <section id="login" class="s-download">

        <div class="row download-content">
            <div>
              <div class="col-six md-seven download-content__text pull-right" data-aos="fade-up">
                <h1 class="display-2"> Iniciar sesión</h1>
                <input type="email" value="" name="EMAIL" class="email" id="mc-user" placeholder="Ingresa tu correo" required="">
                <input type="password" value="" name="PASS" class="pass" id="mc-pass" placeholder="Ingresa tu contraseña" required="">
				 <a th:href="@{/dueno/listar}"><input type="submit" name="subscribe" value="Entrar">
				 <a th:href="@{/empleado/listar}"><input type="submit" name="empleado" value="Empleado">
              </div>
				
            </div>
<div class="download-content__image" data-aos="fade-up">
        <img src="images/profile-550.png" 
                     srcset="images/profile-550.png 1x, images/profile-1100.png 2x">
      </div>
      </div>

    </section> <!-- end s-download -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer footer" id="footer">

        <div class="row footer__top">
            <div class="col-six md-full">
              <h1 class="display-2"> Suscríbete</h1>
              <p class="lead"> para recibir novedades, promociones y muchas cosas más</p>
            </div>
            <div class="col-six md-full footer__subscribe end">
                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">

                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
            
                        <input type="submit" name="subscribe" value="Suscribirse">
            
                        <label for="mc-email" class="subscribe-message"></label>
            
                    </form>
                </div>
            </div>
        </div>

        <div class="row footer__bottom">
            <div class="col-five tab-full">
                <div class="footer__logo">
                    <a href="index.html">
                        <img src="images/logo.svg" alt="Homepage">
                    </a>
                </div>
                <p> Mediante este proceso, evítate las colas y las largas esperasa aburridas en las concesionarias.</p>
                <ul class="footer__social">
                  <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="col-six tab-full end">
                <ul class="footer__site-links">
                    <li><a class="smoothscroll" href="#home" title="intro">Intro</a></li>
                    <li><a class="smoothscroll" href="#about" title="about">Beneficios</a></li>
                    <li><a class="smoothscroll" href="#features" title="features">Saber más</a></li>
                    <li><a class="smoothscroll" href="#login" title="login">Inicio Sesión</a></li>
                </ul>
                <p class="footer__contact"> ¿Aún con dudas? Escríbenos a:<br>
                  <a href="mailto:#0" class="footer__mail-link">soporte@toyota.com</a> </p>
                <div class="cl-copyright">
                    <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados <a href="https://colorlib.com" target="_blank">TOYOTA</a><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                </div>
            </div>

        </div>

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer> <!-- end s-footer -->


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>
</html>	